*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}




.main{
    width: 100%;
    height: 100vh;   
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;}



.joke_card{
    background-color: rgb(208, 255, 0);
    width:100%;
    max-width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap:0.5rem;
  

}


.joke{
   
    background-color: azure;
    padding: 1rem;

    text-align: center;
    border-radius: 15px;
    font-size: clamp(1rem, 2vw, 1.5rem);
 }

.get_joke{
    background-color: black;

    padding: 1rem;

    border-radius: 15px;
    color: white;
    text-align: center;


}

.get_joke:hover{
    background-color: rgb(31, 31, 29);

}

#punch_line{
    margin-bottom: 0.5rem;
    font-size: 30px;
    display: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
        

}

#category{
  align-content: flex-start;
   padding: 8px;
    background-color: rgb(180, 211, 45);
    font-size:14px;
    display: none;

}

@media (max-width: 375px){
    .joke_card{
        background-color: rgb(193, 233, 213);
    }

    #category{
        background-color: rgb(116, 146, 131);
        color: white;
    }

}

