*{
    overflow: hidden;
      font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}




.main{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;}



.joke_card{
    background-color: rgb(208, 255, 0);
    margin: auto;
    width: 40%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}


.joke{
   
    background-color: azure;
    padding: 20px;
    margin: 10px;
    text-align: center;
border-radius: 15px;
margin-bottom: 0px;}

.get_joke{
    background-color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    color: white;


}

.get_joke:hover{
    background-color: rgb(31, 31, 29);

}

#punch_line{
    margin-bottom: 10px;
        font-size: 30px;
        display: none;
        

}

#category{
  align-content: flex-start;
   padding: 8px;
    background-color: rgb(180, 211, 45);
    font-size:14px;
    display: none;

}

